{{range gets "/registry/services/specs/default/*"}}
  {{$service := json .Value}}
  {{if ne $service.spec.clusterIP "None"}}
    {{$service.spec.clusterIP}} {{$service.metadata.name}}
  {{else}}
    {{$endpointPath := printf "/registry/services/endpoints/default/%s" $service.metadata.name}}
    {{$endpoint := json (getv $endpointPath)}}
    {{range $subset := $endpoint.subsets}}
      {{range $subset.addresses}}
        {{.ip}} {{$service.metadata.name}}
      {{end}}
    {{end}}
  {{end}}
{{end}}

{{range gets "/registry/pods/default/*"}}
  {{$pod := json .Value}}
  {{$pod.status.podIP}} {{$pod.metadata.name}}
{{end}}
