{{range gets "/registry/services/specs/default/*"}}
  {{$service := json .Value}}
  {{$service.spec.clusterIP}} {{$service.metadata.name}}
{{end}}
{{range gets "/registry/pods/default/*"}}
  {{$pod := json .Value}}
  {{$pod.status.podIP}} {{$pod.metadata.name}}
{{end}}
