{{- range gets "/namespaces/*"}}
  {{- $namespace := json .Value}}

  {{- $podsPath := printf "/pods/%s/*" $namespace.metadata.name}}
  {{- range gets $podsPath}}
    {{- $pod := json .Value}}
    {{- if $pod.status.podIP }}
      {{$pod.status.podIP}} {{$pod.metadata.name}}.{{$pod.metadata.namespace}}.pod.cluster.local 
    {{- end}}
  {{- end}}

{{- end}}
